.h2-bienvenidos {
  text-align: center;
  color: #3a3d32;
  padding-bottom: 15px;
  padding-top: 0;
}

.p-bienvenidos {
  text-align: center;
  color: #3a3d32;
  min-width: 100%;
}

.bienvenido-img {
  max-width: 1300px;
}
